{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">折线图</div>
            <div class="panel-body">
                <div id="m1" style="width: 100%;height:300px;"></div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">柱状图</div>
                    <div class="panel-body">
                        <div></div>
                        <div id="m2" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-heading">饼图</div>
                    <div class="panel-body">
                        <div id="m3" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static "js/echarts.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            initBar();
            initPie();
            initLine();

        })

        function initBar() {
            // 基于准备好的dom，初始化echarts实例
            var myChartBar = echarts.init(document.getElementById('m2'));
            // 指定图表的配置项和数据
            var optionBar = {
                title: {
                    text: "员工业绩阅读汇总信息",
                    textAlign: "auto",
                    left: "center",
                },
                tooltip: {},
                legend: {
                    data: [],
                    bottom: 0
                },
                xAxis: {
                    data: [],
                    nameLocation: "middle",
                    name: "月份",
                    nameGap: 30,
                },
                yAxis: [{
                    name: "销售量",
                    nameLocation: "middle",
                    //坐标轴与标题距离
                    nameGap: 30,
                }],
                series: []
            };

            $.ajax({
                url: "/chart/Bar/",
                type: "get",

                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        optionBar.legend.data = res.data.legend;
                        optionBar.xAxis.data = res.data.x_axis;
                        optionBar.series = res.data.series_list;
                        // 使用刚指定的配置项和数据显示图表。
                        myChartBar.setOption(optionBar);
                    }

                }

            })
        }

        function initPie() {
            var myChartPie = echarts.init(document.getElementById('m3'));
            var optionPie = {
                title: {
                    text: '部门预算占比',
                    subtext: '四川分公司',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    bottom: 0
                },
                series: [
                    {
                        name: '预算',
                        type: 'pie',
                        radius: '50%',
                        data: [],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            $.ajax({
                url: "/chart/Pie/",
                type: "get",

                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        optionPie.series[0].data = res.data
                        myChartPie.setOption(optionPie);
                    }
                }
            })
        }

        function initLine() {
            var myChartLine = echarts.init(document.getElementById('m1'));
            var optionLine = {
                title: {
                    text: "季度指标利润率(%)",
                    textAlign: "auto",
                    left: "center"
                },
                legend: {
                    data: [],
                    bottom: 0
                },
                xAxis: {
                    data: [],
                    nameLocation: "middle",
                    name: "选项",
                    nameGap: 30,
                },
                yAxis: [{
                    name: "利润率",
                    nameLocation: "middle",
                    nameGap: 30,
                }],
                series: [],
            };

            $.ajax({
                url: '/chart/Line/',
                type: "get",

                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        optionLine.series = res.data.series_list;
                        optionLine.xAxis.data = res.data.x_axis;
                        optionLine.legend.data = res.data.legend_data;
                        // 使用刚指定的配置项和数据显示图表。
                        myChartLine.setOption(optionLine);
                    }
                }
            })
        }


    </script>
{% endblock %}