{% extends 'layout.html' %}


{% block  content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">新建订单1</button>
            <button type="button" class="btn btn-success" id="btn1">新建订单2</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">订单列表</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>订单号</th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>状态</th>
                        <th>管理员</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in queryset %}
                        <tr>
                            <th>{{ item.id }}</th>
                            <td>{{ item.oid }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.get_status_display }}</td>
                            <td>{{ item.admin }}</td>
                            <td>
                                <button name="{{ item.id }}" type="button" class="btn btn-primary btn-xs btn-edit">编辑
                                </button>
                                <button name="{{ item.id }}" type="button" class="btn btn-danger btn-xs btn-delete">删除
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <ul class="pagination clearfix">
                {{ page_string }}
            </ul>
        </div>
    </div>

    <!--  新建/编辑订单(对话框) -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建</h4>
                </div>
                <div class="modal-body">
                    <form id="form_save" novalidate>
                        <div class="row clearfix">
                            {% for form in forms %}
                                <div class="form-group col-xs-6">
                                    <label>{{ form.label }}</label>
                                    {{ form }}
                                    <span style="color: red;margin-bottom: 20px"
                                          class="error">{{ form.errors.0 }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--  删除订单(对话框) -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否确定删除？</h4>
                <p style="margin: 10px 0;">删除了什么也没有了！！！</p>
                <p style="text-align: right">
                    <button type="button" class="btn btn-danger btn-yes">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script type="text/javascript">
        var DELETE_ID;
        var EDIT_ID
        $(function () {
            bindBtnsaveEvent();
            bindBtnorderEvent();
            bindBtndeleteEvent();
            bindBtnconfirmdeleteEvent();
            bindBtneditEvent();
        })

        //新建
        function bindBtnsaveEvent() {
            $('#btn1').click(function () {
                EDIT_ID = undefined;
                $("#form_save")[0].reset();
                $("#myModalLabel").text("新建");
                $('#myModal').modal('show');
            })
        }

        function bindBtnorderEvent() {
            $("#save").click(function () {
                $(".error").empty();
                if (EDIT_ID) {
                    doedit();
                } else {
                    //添加
                    doadd();
                }

            })
        }


        function doadd() {
            $.ajax({
                url: "/order/add/",
                type: "post",
                data: $("#form_save").serialize(),

                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        // alert("保存成功");
                        //清空表单
                        $("#form_save")[0].reset();
                        //隐藏对话框
                        $("#myModal").modal("hide");
                        //刷新
                        location.reload()
                    } else {
                        $.each(res.errors, function (name, data) {
                            $("#id_" + name).next().text(data[0]);
                        })
                    }
                }
            })
        }

        //删除
        function bindBtndeleteEvent() {
            $(".btn-delete").click(function () {
                $("#deleteModal").modal("show")
                DELETE_ID = $(this).attr('name');
            })
        }

        function bindBtnconfirmdeleteEvent() {
            $('.btn-yes').click(function () {
                $.ajax({
                    url: "/order/delete/",
                    type: "post",
                    data: {
                        nid: DELETE_ID,
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $("#deleteModal").modal("hide");
                            location.reload()
                            DELETE_ID = 0;
                        } else {
                            alert(res.errors)
                            DELETE_ID = 0;
                        }
                    }
                })
            })
        }

        //编辑
        function bindBtneditEvent() {
            var uid;
            $(".btn-edit").click(function () {
                uid = $(this).attr("name")
                EDIT_ID = uid
                $.ajax({
                    url: "/order/detail/",
                    type: "post",
                    data: {nid: uid},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            $("#form_save")[0].reset()
                            $("#myModalLabel").text("编辑")
                            $("#myModal").modal("show")
                            $.each(res.data, function (name, data) {
                                $("#id_" + name).val(data);
                            })
                        } else {
                            alert(res.errors)
                        }
                    }
                })
            })
        }

        function doedit() {
            $.ajax({
                url: "/order/edit/?uid=" + EDIT_ID,
                type: "post",
                data: $("#form_save").serialize(),

                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        // alert("保存成功");
                        //清空表单
                        $("#form_save")[0].reset();
                        //隐藏对话框
                        $("#myModal").modal("hide");
                        //刷新
                        location.reload()
                    } else {
                        if (res.tips) {
                            alert(res.tips)
                        } else {
                            $.each(res.errors, function (name, data) {
                                $("#id_" + name).next().text(data[0]);
                            })
                        }
                    }
                }
            })
        }


    </script>
{% endblock %}
